// Elements

.svg-icon-e {
    height: 40px;
    width: 40px;
    fill: currentColor;
}

.plain-button-e {
    border: none;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
