//==========================================================================
// Colors
//==========================================================================
$aqua-alpha:                    rgba(177,255,255, 0.5);
$magenta-alpha:                 rgba(255,177,255, 0.5);

//==========================================================================
// Grays
//==========================================================================

$white:                         #FFFFFF;
$white-alpha:                   rgba(255, 255, 255, 0.4);
$black:                         #000000;

// ==========================================================================
// Functional Colors
// ==========================================================================

// Backgrounds
$opaque-background:             $white-alpha;
$opaque-background-hover:       $aqua-alpha;
$opaque-background-active:      $magenta-alpha;


// Z-indexing
$zindex: (
  controls      : 300,
  captions      : 400,
  mini-controls : 500
);

// ==========================================================================
// Breakpoint widths
// ==========================================================================

$medium-breakpoint:             760px;

// ==========================================================================
// Fonts
// ==========================================================================

$font-color:                    $black;
$base-font-size:                18px;
$font:                          'Roboto Slab', serif;
$heading-font:                  Roboto;
$icon-font:                     'Material Icons';
